<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
    	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
   	 	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   	 	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 配置DataSource数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/dm" />
	    <property name="username" value="dm_root" />
	    <property name="password" value="321" />
	     
	    <property name="filters" value="stat" />
	    
	    <property name="maxActive" value="10" />
	    <property name="initialSize" value="1" /> 
	    <property name="maxWait" value="60000" />
	    <property name="minIdle" value="1" />
	 
	    <property name="validationQuery" value="SELECT 'x'" />
	    <property name="testWhileIdle" value="true" />
	    <property name="testOnBorrow" value="false" />
	    <property name="testOnReturn" value="false" />
	</bean>

	<!-- 配置事务管理器，注意这里的dataSource和SqlSessionFactoryBean的dataSource要一致，不然事务就没有作用了 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 强制使用CGLIB代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- 注解探测器-->
    <context:component-scan base-package="com.miaoxg.device.monitor.core, com.miaoxg.device.monitor.dao, com.miaoxg.device.monitor.service"/>
    
    <!-- quartz自动任务 - 定时获取设备监测值 -->
    <bean id="getMonitorValueJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
    	<property name="jobClass" value="com.miaoxg.device.monitor.scheduler.GetMonitorValueJob" />
    </bean>
    <bean id="cronMonitorValueTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    	<property name="jobDetail" ref="getMonitorValueJob"/>
    	<property name="cronExpression" value="0/30 * * * * ?" />  <!-- 每30秒执行一次 -->
    </bean>
    
    <!-- quartz自动任务 - 调度设置 -->
    <bean id="myScheduler" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    	<property name="triggers">
    		<list>
    			<ref bean="cronMonitorValueTrigger" />
    		</list>
    	</property>
    	<property name="quartzProperties">
    		<props>
    			<prop key="org.quartz.threadPool.threadCount">1</prop>
    			<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
    		</props>
    	</property>
    </bean>
</beans>